{{#framework}}
<article id='about'>
<form method='get' action="/">
<header id='title'>
   <h1><label>http://wikipedi.as/<input name='key'></label></h1>
   <p>A short-URL permalink service for several languages' Wikipedias!</p>
</header>
</form>
{{#markdown}}
   [Wikipedia][] is a great source of information to share information with people in everyday
   conversation; but in this day and age, <http://en.wikipedia.org/wiki/Volkswagen_Passat> is a bit
   long for a link. Hell, on [Twitter][], all your friends will see of that link, is
   [http://en.wikipedia.org/wiki/Volkswage…](http://en.wikipedia.org/wiki/Volkswagen_Passat).
   (Sorry, *what* am I about to click on?) To remedy what I see as an issue, I've thrown together
   this service: a semantic short-url permalink generator for Wikipedia articles.
   
   When you use a URL like [http://wikipedi.as/Volkswagen_Passat](/Volkswagen_Passat), I'll generate
   a redirect for you. That redirect will function permenantly, even if the page is
   moved! In addition, I will provide the ability to automatically [disambiguate][]
   ambiguous slugs to the most relevant article.
   
   So, next time you need want to link somebody to a Wikipedia article on a subject, just remember
   `wikipedi.as`!
   
   [Wikipedia]: <http://en.wikipedia.org/wiki/Wikipedia> "the collaborative, libre Internet encyclopedia."
   [Twitter]: <http://twitter.com> "the ever-popular Twitter social network."
   [disambiguate]: <http://en.wikipedia.org/wiki/Wikipedia:Disambiguation> "the process of resolving the conflicts that arise when a single term … refers to more than one topic covered by Wikipedia."
{{/markdown}}
</article>
{{/framework}}
