{{#framework}}
<article id='about'>
<form method='get' action="/">
<header id='title'>
   <h1><label>http://wikipedi.as/<input name='key'></label></h1>
   <p>A short-URL permalink service for several languages' Wikipedias!</p>
</header>
</form>

{{#markdown}}
[Wikipedia][] is a great source of information to share information with people in everyday
conversation; but in this day and age, [http://<wbr>en.wikipedia.org<wbr>/wiki<wbr>/Volkswagen_Passat][1]
is a bit long for a link. Hell, on [Twitter][], all your friends will see of that link, is
[http://<wbr>en.wikipedia.org<wbr>/wiki<wbr>/Volkswage…][1]. (Wait, *what* am I about to click on?)
To remedy what I see as an issue, I've thrown together this service: a semantic short-url permalink
generator for Wikipedia articles.

When you use a URL like [http://wikipedi.as<wbr>/Volkswagen_Passat](/Volkswagen_Passat), I'll
generate a redirect for you. That redirect will function permenantly{{#fn}}1{{/fn}}, even if the
page is moved! In addition, I will provide the ability to automatically [disambiguate][]{{#fn}}2{{/fn}}
ambiguous slugs to the most relevant article.

So, next time you need want to link somebody to a Wikipedia article on a subject, just remember
`wikipedi.as`!

   [1]: <http://en.wikipedia.org/wiki/Volkswagen_Passat>

{{#footnote}}
   I really believe in some kind of *persistence* in this evanescent environment of our Web; but
   I don't want to make you promises I can't keep. I've registered this domain for a few years,
   and I promise to do everything in my power to keep this service running with a high level of
   reliability for at least that span of time; but if you have need of a truly permenant URL, I'd
   like to refer you to [OCLC][]'s [PURL resolver][PURL]; their links have been resolving for
   *nineteen years*, and counting.
   
   In addition, this project is [open-source][source]; and if you'd like to obtain true trust and
   control over the permenance of the links you post online, I fully encourage you to `git clone`
   and boot up your own copy. All it requires is [Node.js][] and a running [Redis][] database.
   `(=`
   
   [OCLC]: <http://en.wikipedia.org/wiki/OCLC> "the Online Computer Library Center non-profit."
   [PURL]: <http://purl.oclc.org/docs/index.html> "OCLC's hosted 'persistent uniform resource locator' resolver."
   [source]: <https://github.com/ELLIOTTCABLE/wikipedi.as> "GitHub repository for the wikipedi.as source-code."
   [Node.js]: <http://nodejs.org> "the server-side JavaScript environment and networking platform."
   [Redis]: <http://redis.io> "the small, fast key-value store."
{{/footnote}}
{{#footnote}}
   The first visitor to an ambiguous `wikipedi.as` URL will be asked to confirm the most relevant
   Wikipedia article to the context in which they saw the link; `wikipedi.as` puts some heuristic
   effort into deciding which article is the *most* relevant, and then [displays that as the most
   prominent choice][example]. If you have the opportunity, I suggest you visit the `wikipedi.as`
   link you intend to use *before* sharing it, to ensure it resolves to the destination you
   intend.
   
   That said, it's not *necessary* to do so; the usage-pattern is specifically designed
   so that links will usually lead directly to the correct place, and even if they don't, you can
   rely on the first visitor being presented the most likely option in an intuitive and
   unobtrusive way.
   
   [example]: <http://wikipedi.as/Developer?action=disambiguate>
{{/footnote}}

[Wikipedia]: <http://en.wikipedia.org/wiki/Wikipedia> "the collaborative, libre Internet encyclopedia."
[Twitter]: <http://twitter.com> "the ever-popular Twitter social network."
[disambiguate]: <http://en.wikipedia.org/wiki/Wikipedia:Disambiguation> "the process of resolving the conflicts that arise when a single term … refers to more than one topic covered by Wikipedia."
{{/markdown}}
   
<footer>
   <address class='vcard'>
      <a rel='author' href="http://twitter.com/ELLIOTTCABLE">
         @<span class='fn nickname'>ELLIOTTCABLE</span></a>
      <a class='url' href="http://ell.io/tt">
         http://ell.io/tt</a>
   </address>
   <aside id='footnotes'><ol>
   {{#footnotes}}
      <li id='fn{{index}}'>
         {{{.}}} <a class='ref-return' title="return to first occurence in text" href='#ref{{index}}'>&#x21a9;</a>
      </li>
   {{/footnotes}}
   </ol></aside>
</footer>
</article>
{{/framework}}
