{{#framework}}
<article id='about'>
<form method='get' action="/">
<header id='title'>
   <h1><label>http://wikipedi.as/<input name='key'></label></h1>
   <p>A short-URL permalink service for several languages' Wikipedias!</p>
</header>
</form>
</article>
{{/framework}}
